.resume {
  &_header {
    padding: 30px 50px;
    background-color: $secondary_color;
    background-image: url(../assets/images/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    h1 {
      color: white;
      font-size: 44px;
      text-align: center;
      font-weight: 600;
      line-height: 1.5em;
      margin-top: 0;
      margin-bottom: 10px;
      font-family: 'Montserrat', Helvetica, sans-serif;
    }
  }

  &_body {
    padding: 30px;
    background-color: white;
    &_container {
      display: flex;
      @include mobile {
        & {
          flex-direction: column;
        }
      }
      &_left {
        margin-right: 20px;
        width: 50%;
        @include mobile {
          & {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
        h2 {
          color: #212121;
          font-weight: 600;
          line-height: 1.5em;
          margin-bottom: 20px;
          font-family: 'Montserrat', Helvetica, sans-serif;
        }
      }
      &_right {
        width: 50%;
        @include mobile {
          & {
            width: 100%;
          }
        }
        h2 {
          color: #212121;
          font-weight: 600;
          line-height: 1.5em;
          margin-bottom: 20px;
          font-family: 'Montserrat', Helvetica, sans-serif;
        }
      }
    }
  }

  &_footer {
    padding: 30px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    @include mobile {
      & {
        padding-top: 0;
      }
    }
    &_container {
      display: flex;
      @include mobile {
        & {
          flex-direction: column;
        }
      }
      &_left {
        margin-right: 20px;
        width: 50%;
        @include mobile {
          & {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
        h3 {
          color: #212121;
          font-weight: 600;
          line-height: 1.5em;
          font-family: 'Montserrat', Helvetica, sans-serif;
          font-size: 21px;
          margin-bottom: 20px;
        }
      }
      &_right {
        width: 50%;
        @include mobile {
          & {
            width: 100%;
          }
        }
        h3 {
          color: #212121;
          font-weight: 600;
          line-height: 1.5em;
          font-family: 'Montserrat', Helvetica, sans-serif;
          font-size: 21px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
