header {
  position: relative; }
  @media screen and (max-width: 750px) {
    header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100; } }
  header div.navIpad {
    display: none; }
  header div.navIpad.active {
    display: block;
    height: 100vh;
    width: 40vw;
    background-color: #2eca7f;
    position: absolute;
    right: 0; }
    header div.navIpad.active nav.nav2 {
      display: flex;
      flex-direction: column;
      height: 300px;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px; }
      header div.navIpad.active nav.nav2 a {
        color: white;
        padding: 15px 0;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, sans-serif;
        position: relative;
        text-align: center; }
      header div.navIpad.active nav.nav2 a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: white;
        height: 3px; }
      header div.navIpad.active nav.nav2 a:hover {
        min-width: 100px; }
      header div.navIpad.active nav.nav2 a:hover::after {
        width: 30%;
        color: #9e9e9e;
        transition: all 0.3s; }
  header div.wrapper {
    max-width: 1032px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0; }
    @media screen and (min-width: 751px) and (max-width: 1032px) {
      header div.wrapper {
        padding: 20px;
        background-color: #2eca7f; } }
    @media screen and (max-width: 750px) {
      header div.wrapper {
        padding: 20px;
        background-color: #2eca7f; } }
    header div.wrapper div.logo span.firstname {
      color: #49515d;
      font-size: 20px;
      font-weight: 500;
      font-family: 'Montserrat', Helvetica, sans-serif; }
      @media screen and (min-width: 751px) and (max-width: 1032px) {
        header div.wrapper div.logo span.firstname {
          color: white; } }
      @media screen and (max-width: 750px) {
        header div.wrapper div.logo span.firstname {
          color: white; } }
    header div.wrapper div.logo span.surname {
      color: #2eca7f;
      font-size: 20px;
      font-weight: 500;
      font-family: 'Montserrat', Helvetica, sans-serif; }
      @media screen and (min-width: 751px) and (max-width: 1032px) {
        header div.wrapper div.logo span.surname {
          color: white; } }
      @media screen and (max-width: 750px) {
        header div.wrapper div.logo span.surname {
          color: white; } }
    header div.wrapper svg#menuButton {
      display: none;
      color: white;
      font-size: 30px; }
      @media screen and (min-width: 751px) and (max-width: 1032px) {
        header div.wrapper svg#menuButton {
          display: block; } }
      @media screen and (max-width: 750px) {
        header div.wrapper svg#menuButton {
          display: block; } }
    header div.wrapper nav.nav1 {
      padding-left: 30px; }
      @media screen and (min-width: 751px) and (max-width: 1032px) {
        header div.wrapper nav.nav1 {
          display: none; } }
      @media screen and (max-width: 750px) {
        header div.wrapper nav.nav1 {
          display: none; } }
      header div.wrapper nav.nav1 a {
        color: #9e9e9e;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, sans-serif;
        padding: 10px;
        position: relative;
        margin: 0 10px; }
        header div.wrapper nav.nav1 a:last-child {
          margin-right: 0;
          padding-right: 0; }
      header div.wrapper nav.nav1 a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: #2eca7f;
        height: 3px; }
      header div.wrapper nav.nav1 a:hover,
      header div.wrapper nav.nav1 a:hover:after {
        width: 50%;
        color: #49515d;
        transition: all 0.3s; }

@font-face {
  font-family: Roboto-regular;
  src: url(../assets/fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf); }
.home {
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  display: none; }
  @media screen and (max-width: 750px) {
    .home {
      margin-bottom: 20px; } }
  .home_profile {
    background-image: url(../assets/images/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2eca7f;
    padding: 50px;
    border-bottom: solid 50px white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
    @media screen and (max-width: 750px) {
      .home_profile {
        padding: 20px;
        border-bottom: solid 20px white; } }
    .home_profile .row {
      display: flex;
      justify-content: flex-end;
      position: relative; }
      @media screen and (max-width: 750px) {
        .home_profile .row {
          flex-direction: column;
          align-items: center; } }
      .home_profile .row .home_profile_photo {
        width: 274px;
        left: 0;
        position: absolute; }
        @media screen and (min-width: 751px) and (max-width: 1032px) {
          .home_profile .row .home_profile_photo {
            width: 200px;
            top: -10px; } }
        @media screen and (max-width: 750px) {
          .home_profile .row .home_profile_photo {
            width: 100%;
            position: static; } }
      .home_profile .row .home_profile_title {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 66.7%; }
        .home_profile .row .home_profile_title h2 {
          font-family: 'Montserrat', sans-serif;
          font-size: 54px;
          margin-top: 30px; }
          @media screen and (max-width: 750px) {
            .home_profile .row .home_profile_title h2 {
              text-align: center; } }
        .home_profile .row .home_profile_title div.position {
          font-size: 18px; }
        .home_profile .row .home_profile_title ul.socialLinks {
          display: flex;
          margin-top: 20px; }
          .home_profile .row .home_profile_title ul.socialLinks button {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: white;
            border: none;
            box-shadow: 3px 8px 0px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #9e9e9e;
            margin: 0 3px; }
            .home_profile .row .home_profile_title ul.socialLinks button svg.icon {
              font-size: 20px; }
  .home_details {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
    .home_details_container {
      display: flex;
      padding: 50px 50px 50px; }
      @media screen and (max-width: 750px) {
        .home_details_container {
          flex-direction: column;
          padding: 20px; } }
      .home_details_container_aboutme {
        width: 50%;
        padding: 0px 15px; }
        @media screen and (max-width: 750px) {
          .home_details_container_aboutme {
            width: 100%; } }
        .home_details_container_aboutme h3 {
          font-family: 'Montserrat', Helvetica, sans-serif;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          margin-bottom: 10px;
          margin-top: -3px; }
          .home_details_container_aboutme h3 span {
            color: #2eca7f; }
        .home_details_container_aboutme p {
          font-size: 15px;
          font-weight: 400;
          line-height: 1.8; }
      .home_details_container dl {
        padding: 0px 15px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 50%;
        overflow: visible;
        font-size: 15px; }
        @media screen and (max-width: 750px) {
          .home_details_container dl {
            width: 100%;
            margin-top: 20px; } }
        .home_details_container dl dt {
          flex: 0 0 30%;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 15px; }
        .home_details_container dl dd {
          flex: 0 0 70%;
          margin-left: auto;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          color: #9e9e9e; }
          .home_details_container dl dd a {
            color: #2eca7f; }
            .home_details_container dl dd a:hover {
              color: #ff9800; }

.resume {
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1); }
  .resume_header {
    padding: 30px 50px;
    background-color: #2eca7f;
    background-image: url(../assets/images/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
    .resume_header h1 {
      color: white;
      font-size: 44px;
      text-align: center;
      font-weight: 600;
      line-height: 1.5em;
      margin-top: 0;
      margin-bottom: 10px;
      font-family: 'Montserrat', Helvetica, sans-serif; }
  .resume_body {
    padding: 30px; }
    .resume_body_container {
      display: flex; }
      .resume_body_container_left {
        margin-right: 20px; }
        .resume_body_container_left h2 {
          color: #212121;
          font-weight: 600;
          line-height: 1.5em;
          margin-bottom: 20px;
          font-family: 'Montserrat', Helvetica, sans-serif; }
        .resume_body_container_left .cardSection {
          padding: 20px 0 20px 20px;
          border-left: solid 1px #9e9e9e; }
          .resume_body_container_left .cardSection .card {
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
            border-left: solid 2px #2eca7f;
            padding: 20px;
            position: relative;
            margin-bottom: 20px; }
            .resume_body_container_left .cardSection .card:last-child {
              margin-bottom: 0; }
            .resume_body_container_left .cardSection .card:before {
              content: '';
              display: inline-block;
              position: absolute;
              background-color: #fff;
              border-radius: 10px;
              width: 12px;
              height: 12px;
              border: solid 2px #2eca7f;
              left: -29px;
              top: 20px;
              z-index: 5; }
            .resume_body_container_left .cardSection .card::after {
              content: '';
              display: inline-block;
              position: absolute;
              width: 21px;
              border: solid 1px #2eca7f;
              left: -25px;
              top: 27px; }
            .resume_body_container_left .cardSection .card_title {
              color: #212121;
              font-weight: 600;
              font-size: 16px; }
            .resume_body_container_left .cardSection .card_company {
              margin: 5px 0; }
              .resume_body_container_left .cardSection .card_company .companyYear {
                font-size: 12px;
                line-height: 1.2em;
                color: #2eca7f;
                padding-right: 5px; }
              .resume_body_container_left .cardSection .card_company .companyName {
                font-size: 12px;
                line-height: 1.2em;
                color: #9e9e9e;
                padding-left: 5px;
                border-left: solid 1px #9e9e9e; }
  .resume_footer {
    padding: 30px; }
    .resume_footer_container {
      display: flex; }
      .resume_footer_container_left {
        margin-right: 20px; }
        .resume_footer_container_left h3 {
          color: #212121;
          font-weight: 600;
          line-height: 1.5em;
          font-family: 'Montserrat', Helvetica, sans-serif;
          font-size: 21px;
          margin-bottom: 20px; }

main {
  width: 100%; }
  @media screen and (min-width: 751px) and (max-width: 1032px) {
    main {
      padding: 20px 20px 0 20px; } }
  @media screen and (max-width: 750px) {
    main {
      padding: 20px 30px 50px 30px;
      position: absolute;
      z-index: 50;
      left: 0;
      top: 70px;
      height: calc(100vh - 70px);
      overflow: scroll; } }

footer {
  position: fixed;
  bottom: 15px;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 750px) {
    footer {
      width: 70%;
      left: 50%;
      transform: translateX(-50%); } }
  footer span {
    color: #2eca7f; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul,
li {
  list-style: none; }

body {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/images/main_bg.png);
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto-regular', sans-serif; }

/*# sourceMappingURL=index.css.map */
