@import './color.scss';

header {
  position: relative;
  transition: all 0.5s;

  &.onScroll {
    background: white;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: all 0.5s;
  }
  @include mobile {
    & {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
    }
  }
  @include ipad {
    & {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
    }
  }

  div.navIpad {
    display: none;
  }

  div.navIpad.active {
    display: block;
    height: 100vh;
    width: 40vw;
    background-color: $secondary_color;
    position: absolute;
    right: 0;

    nav.nav2 {
      display: flex;
      flex-direction: column;
      height: 300px;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px;

      a {
        color: white;
        padding: 15px 0;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, sans-serif;
        position: relative;
        text-align: center;
      }

      a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: white;
        height: 3px;
      }

      a:hover {
        min-width: 100px;
      }

      a:hover::after {
        width: 30%;
        color: $text_color;
        transition: all 0.3s;
      }
    }
  }

  div.wrapper {
    max-width: 1032px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 23px 0;

    @include ipad {
      & {
        padding: 20px;
        background-color: $secondary_color;
      }
    }
    @include mobile {
      & {
        padding: 20px;
        background-color: $secondary_color;
      }
    }

    div.logo {
      span {
        &.firstname {
          color: $primary_color;
          font-size: 20px;
          font-weight: 500;
          font-family: 'Montserrat', Helvetica, sans-serif;
          @include ipad {
            & {
              color: white;
            }
          }
          @include mobile {
            & {
              color: white;
            }
          }
        }

        &.surname {
          color: $secondary_color;
          font-size: 20px;
          font-weight: 500;
          font-family: 'Montserrat', Helvetica, sans-serif;
          @include ipad {
            & {
              color: white;
            }
          }
          @include mobile {
            & {
              color: white;
            }
          }
        }
      }
    }

    svg#menuButton {
      display: none;
      color: white;
      font-size: 30px;

      @include ipad {
        & {
          display: block;
        }
      }
      @include mobile {
        & {
          display: block;
        }
      }
    }

    nav.nav1 {
      padding-left: 30px;

      @include ipad {
        & {
          display: none;
        }
      }
      @include mobile {
        & {
          display: none;
        }
      }

      a {
        color: $text_color;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, sans-serif;
        padding: 10px;
        position: relative;
        margin: 0 10px;
        &:last-child {
          margin-right: 0;
          padding-right: 0;
        }
      }

      a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: $secondary_color;
        height: 3px;
      }

      a:hover,
      a:hover:after {
        width: 50%;
        color: $primary_color;
        transition: all 0.3s;
      }
    }
  }
}
